<!DOCTYPE html>
<html>
<head>
  <title>Блог</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.svg" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Блог", root_path %></li>
			<li><%= link_to "Обо мне", users_path %></li>
			<li><%= link_to "Категори", categories_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="http://instagram.com/daniilnaymkin">Instagram</a></li>
			<li><a href="mailto:daniilnaymkin700@list.ru">Почта</a></li>
		</ul>

		<% if !user_signed_in? %>
			<p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
		<% end %>
	</div>

	<div class="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>Все посты</p>
			<% elsif current_page?(users_path) %>
				<p>Обо мне</p>
			<% else %>
				<%= link_to "Назад", root_path %>
			<% end %>

			<% if user_signed_in? %>
				<div class="buttons">
				<% if current_page?(users_path) %>
					<button class="button"><%= link_to "Редактировать", edit_user_path(current_user) %></button>
				<% end %>	
				<% if current_page?(categories_path) %>
					<button class="button"><%= link_to 'Добавить категорию', new_category_path %></button>
					<button class="button"><%= link_to 'Добавить подкатегорию', new_subcategory_path %></button>
				<% end %>
					<button class="button"><%= link_to "Новый пост", new_post_path %></button>
					<button class="button"><%=link_to "Выйти", destroy_user_session_path, method: :delete%></button>
				</div>
			<% end %>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
